@model IEnumerable<DataPodishetty.Models.Theater>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moviename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theatername)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moviename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theatername)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.TheatreId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.TheatreId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.TheatreId">Delete</a>
        </td>
    </tr>
}
</table>
